/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

tei-sourceDesc {
  display: block;
  background-color: beige;
  font-style: italic;
}

header, footer {
  border: 1px solid #000;
  background-color: beige;
  padding: 1em;
}

tei-persName, tei-placeName {
  font-weight: bold;
  color: darkgreen;
}

tei-front {
  font-style: italic;
}

tei-pb::after {
  display: block;
  content: "[" attr(n) "]";
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-style: italic;
}